<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bookmark Manager</title>
</head>
<body>
  <h1>Welcome to your diary! </h1>
  <h2> What do you want to do?</h2>
  <form action="/diary" method="get">
    <button type="submit">View All</button>
  </form>
  <form action="/newentry" method="get">
    <button type="submit">Add Entry</button>
  </form>
</body>
</html>



